body {
	font-family: "Lato", sans-serif;
	font-size: 13pt;
	padding-right: 25%;
	padding-left: 20%;
	margin-top: 0px;
	transition: background-color 0.5s, color 0.5s;
}
a {
	text-decoration: none;
	color: #279dc2;
	transition: color 0.1s;
}
a:hover {
	color: #0e4b5e;
}
a:visited {
	color: #3e115c;
}
div.button {
	padding: 10px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
h1.title {
	font-family: "Roboto Slab", serif;
	font-size: 400%;
	font-weight: normal;
	margin-bottom: 0px;
}
div#pinned {
	border-style: solid;
	border-width: 1px;
	border-color: #AFAFAF;
	border-radius: 4px;
	margin-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
}
div#toc {
	border: 2px;
	border-style: solid;
	border-radius: 4px;
	border-color: black; 
	padding: 15px;
	padding-bottom: 0px;
	width: 300px;
	margin-top: 25px;
	margin-bottom: 50px;
	transition: border-color 0.5s;
}
p#toc-title {
	margin: 0px;
	font-weight: bold;
}
li.toc {
	padding-left: 10px;
	margin-left: 15px;
}
h3 {
	font-size: 200%;
	font-family: "Roboto Slab", serif;
	font-weight: normal;
	margin: 0px;
}
div.project {
	margin-left: 15px;
}
div.post-content {
	padding-left: 15px;
}
h4 {
	font-weight: bold;
	font-size: 110%;
	left:-5px;
	margin-bottom: 0px;
}
h5 {
	font-weight: bold;
	font-size: 100%;
}
li.list {
	padding-left: 10px;
}
p.date {
	font-style: italic;
	color: #AFAFAF;
	font-size: 90%;
	font-family: "Courier New", monospace, serif;
}
hr {
	border: none;
	height: 1px;
	width: 25%;
	background-color: #5C5C5C;
	margin-left: 0px;
	padding-top: 3px;
	margin-top: 15px;
	margin-bottom:5px;
}
img.artwork {
	height: 300px;
	display: inline-block;
	margin: 5px;
	border: 1px solid grey;
	border-radius: 2px;
}
hr#endline {
	padding-top: 0px;
	width: 50%;
}



/* dark mode adaptive stuff */
@media (prefers-color-scheme: dark) {
	body { background-color: #1c1c1c;
	color: #e3e3e3; }
	a:visited { color: #e3ae44; }
	a:visited:hover { color: #b08735; }
	p.date { color: #8c8c8c; }
	div#toc { border-color: grey; }
}
