body {
	font-family: "Bitter", sans-serif;
	font-size: 12pt;
	padding-right: 18%;
	padding-left: 18%;
	margin-top: 0px;
	transition: background-color 0.5s, color 0.5s;
	color: #1c1c1c;
}
a {
	text-decoration: none;
	color: #279dc2;
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 2px;
}
a:hover {
	background-color: rgba(233, 242, 245, 0.6);
}
b {
	background-color: rgba(39, 157, 194, 0.1);
	border: 2px solid rgba(39, 157, 194, 0.1);
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 2px;
	color: #576d73;
}
div.nav {
	display: inline-block;
}
div.button {
	padding: 10px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
.hidden { display: none; }
td { padding: 15px; }
th.define { display: auto; }
h1.title {
	font-family: "Bitter", serif;
	font-size: 400%;
	font-weight: bold;
	margin-bottom: 0px;
	display: inline-block;
	padding-right: 4%;
}
div#toc {
	font-size: 88%;
	border: 2px;
	border-style: solid;
	border-radius: 4px;
	border-color: black; 
	padding: 15px;
	padding-right: 20px;
	padding-bottom: 0px;
	width: 380px;
	margin-top: 25px;
	margin-bottom: 50px;
	transition: border-color 0.5s;
	margin-right: 46px;
}
p#toc-title {
	margin: 0px;
	font-size: 110%;
	font-weight: bold;
}
li.toc {
	padding-left: 10px;
	margin-left: 15px;
}
h2 {
	font-size: 200%;
}
h3 {
	font-size: 220%;
	font-family: "Bitter", serif;
	font-weight: normal;
	margin: 0px;
	margin-top: 16px;
	text-decoration: overline;
}
h3.intro {
	text-decoration: none;
	display: inline;
}
div.flex {
	display: flex;
	flex-wrap: nowrap;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
p.flex-words {
	padding: 6px;
	padding-top: 0px;
	margin-top: 0px;
	font-style: italic;
	color: #6e6e6e;
}
p#description {
	margin-left: 20px;
	font-size: 108%;
}
div#description {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 60px;
}
img {
}
img#profile {
	border-radius: 10px;
	border: 3px solid #1c1c1c;
}
img.pin-img {
	width: 90%;
	border: 1px solid #1c1c1c;
	border-radius: 4px;
}
div.project {
	margin-left: 15px;
	border-left: 2px solid #f85552;
	padding-left: 40px;
	padding-bottom: 10px;
	width: 100%;
}
div.post-content { padding-left: 15px; }
h4 {
	font-weight: bold;
	font-size: 110%;
	margin-bottom: 0px;
	color: #f85552;	/* if i did this right i think this isn't actually necessary */
}
h5 {
	font-weight: bold;
	font-size: 100%;
}
li.list {
	padding-left: 10px;
}
p.date {
	font-style: italic;
	color: #AFAFAF;
	font-size: 90%;
	font-family: "Courier New", monospace, serif;
}
img.artwork {
	width: 100%;
	display: inline-block;
	margin: 5px;
	border: 1px solid grey;
	border-radius: 8px;
}
img.artwork#compact {
	width: auto;
	height: 40vh;
}
div.img-container {
	overflow: hidden;
	width: 100%;
	height: 192px;
}
hr {
	padding-top: 0px;
	border: none;
	height: 1px;
	width: 50%;
	background-color: #5C5C5C;
	margin-left: 0px;
	margin-top: 15px;
	margin-bottom: 5px;
}
p.footer {
	font-style: italic;
	color: #787878;
	font-size: 90%;
	font-family: "Roboto Slab", monospace, serif;
}
iframe.bandcamp {
	border: none;
	width: 100%;
	height: 250px;
	display: block;
	border-radius: 4px;
}
iframe.youtube {
	border: none;
	display: block;
	width: 35vw;
	height: 40vh;
	border-radius: 8px;
}
div.bandcamp-wrap {
	width: 100%;
	height: 250px;
	display: block;
	overflow: hidden;
}
div.notice {
	width: 100%;
	background-color: #ffecb8;
	border: solid 2px #e6c59e;
	border-radius: 1px;
	padding: 5px;
	font-family: 'Roboto Slab', monospace, serif;
	color: #474747;
}
div.pinned {
	margin: 12px;
}


@media only screen and (max-device-width: 700px) {
	td { display: block; }
	th.define { display: none; }
	body {
		font-size: 30pt;
		padding-right: 4%;
		padding-left: 4%;
	}
	div#toc {
		font-size: 100%;
		width: 90%;
		border: solid 4px black;
		padding: 4%;
		padding-bottom: 0px;
		margin-top: 46px;
	}
	div.notice {
		width: 95%;
		padding: 2%;
		font-size: 110%;
	}
	h3.intro {
		display: block;
	}
	img.artwork {
		height: auto;
		display: block;
		margin-bottom: 12px;
	}
	img.artwork#compact {
		height: auto;
		width: 100%;
	}
	div.img-container {
		height: auto;
		/* so that no matter what you will see 2 images, in a single column. if you take out 'display: block;' then you could have maybe 2 colums?*/
	}
	iframe.bandcamp {
		width: auto;
		height: 320px;
		transform: scale(2.0);
		transform-origin: 0 0;
	}
	div.bandcamp-wrap {
		height: 640px;
	}
	div.flex {
		display: block;
	}
	div#description {
		margin-left: 2%;
		margin-right: 3%;
	}
	img#profile {
		width: 100%;
		margin-right: 20px;
		align: center;
	}
	div#profile-image {
		width: 100%;
		align: center;
		text-align: center;
	}
	iframe.youtube {
		width: 70vw;
		height: 70vh;
	}
}

/* dark mode adaptive stuff */
/* don't want this right now
@media (prefers-color-scheme: dark) {
	body {
		background-color: #30373b;
		color: #d9d9d9;
	}
	a:visited { color: #e3ae44; }
	a:visited:hover { color: #b08735; }
	p.date { color: #8c8c8c; }
	div#toc { border-color: grey; }
	h4 { color: #da6362; }
	div.notice {
		background-color: #d9ca9e;
		border-color: #c4af71;
	}
} */
